h1 {
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    font-weight: 700;
    color: palevioletred;
    letter-spacing: 1px;
}

.carousel-item img {
    width: 100%;
    height: 400px;      /* atur tinggi sesuai kebutuhan */
    object-fit: cover;  /* gambar menyesuaikan tanpa distorsi */
}


